---

const { id } = Astro.props;

---

<section id={id} class="text-gray-600 font-poppins bg-background">
  <div class="container mx-auto flex py-24 md:flex-row flex-col items-center px-6 md:px-12 lg:px-16">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <div class="mb-8 leading-relaxed text-text text-sm">
        <h1 class="text-3xl font-bold mb-4">BRDG</h1>
        <p class="mb-6">
          <strong>BRDG</strong> is a social media platform specifically designed for junior professionals embarking on a new career path, unlike LinkedIn, which can be overwhelming for newcomers. This idea was chosen as a final group project at the coding boot camp I completed at Dev Academy.
        </p>

        <h2 class="text-2xl font-bold mb-4">Tech Stack</h2>

        <h3 class="text-xl font-semibold mb-2">Frontend</h3>
        <ul class="list-disc list-inside mb-6">
          <li><strong>React:</strong> Building user interfaces with reusable components.</li>
          <li><strong>TypeScript:</strong> Enhancing code quality and maintainability.</li>
          <li><strong>JavaScript:</strong> Core programming language for frontend logic.</li>
          <li><strong>HTML5:</strong> Structuring web content.</li>
          <li><strong>Tailwind CSS:</strong> Utility-first CSS framework for styling.</li>
          <li><strong>Storybook:</strong> Developing and testing UI components in isolation.</li>
        </ul>

        <h3 class="text-xl font-semibold mb-2">Backend</h3>
        <ul class="list-disc list-inside mb-6">
          <li><strong>TypeScript:</strong> Enhancing code reliability.</li>
          <li><strong>JavaScript:</strong> Backend logic.</li>
          <li><strong>SQLite3:</strong> Storing and managing data.</li>
          <li><strong>Node.js:</strong> Server-side development.</li>
          <li><strong>Express:</strong> Building APIs and handling requests.</li>
          <li><strong>Knex.js:</strong> SQL query builder for database interaction.</li>
        </ul>

        <h2 class="text-2xl font-bold mb-4">Development Overview</h2>

        <h3 class="text-xl font-semibold mb-2">Frontend</h3>
        <ul class="list-disc list-inside mb-6">
          <li>Developed user story features with TypeScript and React.</li>
          <li>Integrated features into various pages.</li>
          <li>Tested components with Storybook.</li>
        </ul>

        <h3 class="text-xl font-semibold mb-2">Backend</h3>
        <ul class="list-disc list-inside mb-6">
          <li>Built databases using SQLite3.</li>
          <li>Managed data with Knex.js.</li>
          <li>Implemented CRUD operations for seamless front-backend communication.</li>
        </ul>

        <h2 class="text-2xl font-bold mb-4">What Role Did I Play?</h2>
        <p class="mb-6">I served as the Product Owner, responsible for delivering the application from end to end. The project was based on my idea, which the group chose to develop.</p>
        <p>My primary focus was on the frontend. I contributed significantly to the design of pages and components, using Figma to establish the app's look and feel. I used Storybook to test React TypeScript components for development and employed Tailwind CSS for styling.</p>
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full lg:h-full md:w-1/2 w-5/ rounded-lg">
      <img class="object-cover rounded-lg" alt="thyme" src="brdg.png">
      <div class="flex justify-center py-4 px-6">
        <a href="https://github.com/kahikatea-2024/brdge-app"><button class="bg-gradient-to-r from-primary to-secondary text-white px-6 py-4 text-xl rounded font-medium focus:ring ring-black ring-opacity-10 gradient element-to-rotate hover:bg-background">View Code</button></a>
        <a href="#livedemo"><button class="ml-4 inline-flex text-primary bg-background py-4 px-6 focus:outline-none hover:bg-gradient-to-r from-blue-200 to-red-200 rounded text-lg border-dotted border-2 border-primary">Live Demo</button></a>
     </div>
    </div>
    
  </div>
</section>
