---
import AboutMe from "../components/AboutMe.astro"
import HeroSection from "../components/HeroSection.astro"
import Nav from "../components/Nav.astro"
import ProjectSection from "../components/ProjectSection.astro"
import Layout from "../layouts/Layout.astro"

title: "Welcome to My Blog"
---



<Layout title="Robert">
  <main>
    <Nav></Nav>
    <HeroSection id="#"></HeroSection>
    <AboutMe id="AboutMe"></AboutMe>
    <ProjectSection></ProjectSection>
  </main>
</Layout>


