---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nav from '../components/Nav.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutMe from '../components/MyStack.astro';
import MyStack from '../components/MyStack.astro';
---

<Layout title="Welcome to My Blog.">
	<main>
   <Nav></Nav>
   <HeroSection></HeroSection>
</Layout>

