---
import Nav from "./Nav.astro";


---
<section class="text-gray-600 body-font bg-background">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div
          class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
          <div class="">
          <h1 class="relative w-[max-content] font-mono text-3xl before:absolute before:inset-0 before:animate-typewriter before:bg-white after:absolute after:inset-0 after:w-[0.125em] after:animate-caret after:bg-black">Hey! I am Rob
          </h1>
          </div>
          <p class="mb-8 leading-relaxed ">Aspiring full stack devevloper looking to code the universe.</p>
          <div class="flex justify-center">
              <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
              <button class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">Button</button>
          </div>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
          <img class="object-cover object-center rounded transition duration-300 ease-in-out hover:scale-110" alt="hero" src="../../public/port-self-image.jpg">
      </div>
  </div>
</section>