<div class="overflow-hidden shadow-sm py-10 px-6 md:px-12 lg:px-16">
  <div class="marquee-content flex flex-wrap gap-4 items-center justify-center">
    <img src="https://cdn.worldvectorlogo.com/logos/typescript.svg" alt="TypeScript" class="px-1 h-12 max-w-full sm:h-10 md:h-12 lg:h-14 xl:h-16">
    <img src="https://cdn.worldvectorlogo.com/logos/logo-javascript.svg" alt="JavaScript" class="px-1 h-12 max-w-full sm:h-10 md:h-12 lg:h-14 xl:h-16">
    <img src="https://cdn.worldvectorlogo.com/logos/react-2.svg" alt="React" class="px-1 h-12 max-w-full sm:h-10 md:h-12 lg:h-14 xl:h-16">
    <img src="https://cdn.worldvectorlogo.com/logos/html-1.svg" alt="HTML5" class="px-1 h-12 max-w-full sm:h-10 md:h-12 lg:h-14 xl:h-16">
    <img src="https://cdn.worldvectorlogo.com/logos/css-3.svg" alt="CSS" class="px-1 h-12 max-w-full sm:h-10 md:h-12 lg:h-14 xl:h-16">
    <img src="https://cdn.worldvectorlogo.com/logos/tailwind-css-2.svg" alt="TailwindCSS" class="px-1 h-12 max-w-full sm:h-10 md:h-12 lg:h-14 xl:h-16">
    <img src="https://cdn.worldvectorlogo.com/logos/express-109.svg" alt="Express" class="px-1 h-12 max-w-full sm:h-10 md:h-12 lg:h-14 xl:h-16">
    <img src="https://cdn.worldvectorlogo.com/logos/nodejs-icon.svg" alt="Node.js" class="px-1 h-12 max-w-full sm:h-10 md:h-12 lg:h-14 xl:h-16">
    <img src="/src/icons/knex.svg" alt="Knex.js" class="px-1 h-12 max-w-full sm:h-10 md:h-12 lg:h-14 xl:h-16">
    <img src="https://cdn.worldvectorlogo.com/logos/git-icon.svg" alt="Git" class="px-1 h-12 max-w-full sm:h-10 md:h-12 lg:h-14 xl:h-16">
    <img src="https://cdn.worldvectorlogo.com/logos/github-icon-1.svg" alt="GitHub" class="px-1 h-12 max-w-full sm:h-10 md:h-12 lg:h-14 xl:h-16">
    <img src="/storybook-icon.svg" alt="Storybook" class="px-1 h-12 max-w-full sm:h-10 md:h-12 lg:h-14 xl:h-16">
  </div>
</div>

