<div class="overflow-hidden bg-background shadow-sm p-4">
  <div class="marquee-content flex gap-4 items-center">
    <img src="https://cdn.worldvectorlogo.com/logos/typescript.svg" alt="TypeScript" class="h-12">
    <img src="https://cdn.worldvectorlogo.com/logos/logo-javascript.svg" alt="JavaScript" class="h-12">
    <img src="https://cdn.worldvectorlogo.com/logos/react-2.svg" alt="React" class="h-12">
    <img src="https://cdn.worldvectorlogo.com/logos/html-1.svg" alt="HTML5" class="h-12">
    <img src="https://cdn.worldvectorlogo.com/logos/css-3.svg" alt="CSS" class="h-12">
    <img src="https://cdn.worldvectorlogo.com/logos/tailwind-css-2.svg" alt="TailwindCSS" class="h-12">
    <img src="https://cdn.worldvectorlogo.com/logos/express-109.svg" alt="Express" class="h-12">
    <img src="https://cdn.worldvectorlogo.com/logos/nodejs-icon.svg" alt="Node.js" class="h-12">
    <img src="https://cdn.worldvectorlogo.com/logos/knex.svg" alt="Knex.js" class="h-12">
  </div>
</div>