---
import AboutMe from "./AboutMe.astro"
---

<nav class="bg-background font-poppins py-6 px-6 md:px-12 lg:px-16 flex justify-between items-center sticky top-0 z-50">
  <a href="#" class="text-3xl font-bold">Robert Hall</a>
  <div class="md:hidden">
    <button id="hamburger-btn" class="focus:outline-none">
      <svg class="w-8 h-8 text-primary" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
  <ul id="nav-links" class="hidden md:flex space-x-6">
    <li><a href="/#AboutMe"><button class="bg-primary text-white px-4 py-2 text-lg rounded font-medium focus:ring ring-black ring-opacity-10 gradient element-to-rotate hover:bg-hoverprimary">About</button></a></li>
    <li><a href="#"><button class="bg-primary text-white px-4 py-2 text-lg rounded font-medium focus:ring ring-black ring-opacity-10 gradient element-to-rotate hover:bg-hoverprimary">Projects</button></a></li>
    <li><a href="#"><button class="bg-primary text-white px-4 py-2 text-lg rounded font-medium focus:ring ring-black ring-opacity-10 gradient element-to-rotate hover:bg-hoverprimary">Contact Me!</button></a></li>
  </ul>
</nav>

<!-- Add this script at the bottom of your HTML file or in a separate JS file -->
<script>
  document.getElementById('hamburger-btn').addEventListener('click', function() {
    var navLinks = document.getElementById('nav-links');
    navLinks.classList.toggle('hidden');
  });
</script>

