<nav class="bg-background font-poppins py-6 px-8 flex justify-between items-center">
  <a href="#" class="text-xl font-bold text-gray-800">Robert Hall</a>
  <ul class="flex space-x-6">
      <li><a href="#" class="text-gray-800">About</a></li>
      <li><a href="#" class="text-gray-800">Projects</a></li>
      <li><a href="#" class="text-gray-800">Contact Me!</a></li>
  </ul>
</nav>