<nav class="bg-background font-poppins py-6 px-8 flex justify-between items-center sticky top-0">
  <a href="#" class="text-2xl font-bold ">Robert Hall</a>
  <ul class="flex space-x-6">
      <li><a href="#" class=""><button class="bg-primary text-white px-4 py-2 text-xl rounded font-medium focus:ring ring-black ring-opacity-10 gradient element-to-rotate hover:bg-hoverprimary">About</button></a></li>
      <li><a href="#" class=""><button class="bg-primary text-white px-4 py-2 text-xl rounded font-medium focus:ring ring-black ring-opacity-10 gradient element-to-rotate hover:bg-hoverprimary">Projects</button></a></li>
      <li><a href="#" class=""><button class="bg-primary text-white px-4 py-2 text-xl rounded font-medium focus:ring ring-black ring-opacity-10 gradient element-to-rotate hover:bg-hoverprimary">Contact Me!</button></a></li>
  </ul>
</nav>