<div class="lg:max-w-lg lg:w-full lg:h-full md:w-1/2 w-5/6 bg-gradient-to-b p-2 from-primary to-secondary rounded-lg">
    <img class="object-cover rounded-lg bg-gradient from-primary to-secondary" alt="hero" src="../../public/port-self-image.jpg">
</div>